/*
 * here we are hacking the different styled states into the presentation, eg.
 * <section data-state="typescript">
 */

 // for top-left logos are not images but icon-fonts
@mixin revealAwesome ($content) {
    &::before {
        font: normal normal normal 3em FontAwesome;
        content: $content;
        color: $headingColor;
        margin-left: 10px;
    }
}

@mixin transition ($t) {
    -webkit-transition: $t;
    -moz-transition: $t;
    -o-transition: $t;
    transition: $t;
}

@mixin color($color) {
    h1, h2, h3, h4, strong, i {
        color: $color !important;
    }
}

/* ***************************** TOP Left Logos ***************************** */
// states folder: here i usally make those logos a bit smaller and reduce details, and/or make it a bit transparent
// logos folder: untouched logos, can be used in states or in the content

.reveal {
    background-image: none;
    background-repeat: no-repeat;
    background-position: left top;

    @include transition(none);
}

.typescript {
    .reveal {
        background-image: url('../../img/states/typescript-logo.png');
        background-position: 10px 10px;

        @include transition(background-image 0.8s linear);
        @include color(#007ACC);
    }
}

.karma {
    .reveal {
        background-image: url('../../img/states/karma-logo.svg');
        background-position: 10px 10px;

        @include transition(background-image 0.8s linear);
        @include color(#429f87);
    }
}

.kata {
    .reveal {

        background-image: none;

        &::before {
            content: "\5957\62F3";
            color: $headingColor;
            font-size: 2em;
            margin-left: 10px;
            line-height: 1.2em;
        }

        section {
            // stretching because of big bullet points, this might break on different ratious
            width: 1500px !important;
            margin-left: -125px;

            ul {
                list-style-type: disc !important;
                font-size: 0.8em;
            }

            code {
                background-color: ghostwhite !important;
            }
        }
    }
}

.universal {
    .reveal {
        background-image: url('../../img/states/universal-logo.png');
        background-position: 10px 10px;
        background-size: 100px;

        @include transition(background-image 0.8s linear);
        @include color(#258200);
        a {
            color: #258200;
        }
    }
}

.angular2start {
    .reveal {
        background-image: url('../../img/logos/angular2-logo.svg');// , url('../../img/logos/developer_media_logo.jpg');
        background-position: top -80px left -100px, top 20px right 20px;
        background-size: 500px, 200px;
    }
}

@media print {
    .angular2start {
        .reveal {
            background-image: url('../../img/logos/angular2-logo.svg');// , url('../../img/logos/developer_media_logo.jpg');
            background-position: top -40px left -50px, top 20px right 20px;
            background-size: 250px, 100px;
        }
    }
}

.github {
    .reveal {
        background-image: none;
        @include revealAwesome("\f09b");
        &::before {
            line-height: 1.2em;
        }
    }
}

.star {
    .reveal {
        background-image: none;
        @include revealAwesome("\f006");
        &::before {
            line-height: 1.2em;
        }
    }
}

.code {
    .reveal {
        background-image: none;
        @include revealAwesome("\f121");
    }
}

.forms {
    .reveal {
        background-image: none;
        @include revealAwesome("\f046");
    }
}

.refresh {
    .reveal {
        background-image: none;
        @include revealAwesome("\f021");
    }
}

/* ******************* centered Angular 2 Shield logos ********************** */


/*
.augury {
    .reveal {

        div.banner {
          background: -webkit-linear-gradient(rgb(81,45,168),rgb(103,58,183));
          background: linear-gradient(rgb(81,45,168),rgb(103,58,183));
        }

        background-image: url('../../img/augury-logo.svg');
        background-position: 10px 10px;
        background-size: 100px;

        @include transition(background-image 0.8s linear);
        @include color(rgb(103,58,183));
        a {
            color: rgb(103,58,183);
        }
    }
}*/

.ng-shield {
    margin: auto;
    width: 353px;
    height: 372px;
    background: url('../../img/angular2-shield.svg') no-repeat top left;

    &::before {
        font-size:6em;
        color: white;
        line-height: 1.6em;
    }
}

.ng-shield-fix-shield {
    &::before {
        margin-left: 16px;
    }
}

