/* a lot small CSS classes for varoius usages */

$neutralColor: #a6a6a6;

.nowrap {
    white-space: nowrap;
}

.pesentation-details {
    position: absolute;
    left: 10px;
    bottom: 5px;
    color: gray;
    font-size: 0.8em;

    a {
        color: #51483D;
        text-decoration: none;
    }

    a:hover {
        color: #8B7C69;
    }
}

// looks like a cursor key (start slide)
.key {
    position: relative;
    bottom: 5px;
    display: inline-block;
    line-height: 30px;
    min-width: 30px;
    color: #000;
    padding: 3px !important;
    text-shadow: none;
    letter-spacing: 0;
    border-radius: 10px;
    background: #fff;
    box-shadow: #000000 0 2px 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
    vertical-align: sub !important;
    margin: 0 7px !important;
}

blockquote {
    margin-top: 40px !important;
    box-shadow: none;
}

/* Pure CSS Blockquote Styling */
/*
    <blockquote>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget leo nunc, nec tempus mi? Curabitur id nisl mi, ut vulputate urna. Quisque porta facilisis tortor, vitae bibendum velit fringilla vitae! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget leo nunc, nec tempus mi? Curabitur id nisl mi, ut vulputate urna. Quisque porta facilisis tortor, vitae bibendum velit fringilla vitae!
    <cite>Somebody famous</cite>
    </blockquote>
*/

blockquote:before {
    font-family: Georgia, serif;
    display: block;
    content: "\201C";
    font-size: 4em;
    position: absolute;
    left: -20px;
    top: 10px;
    color: #2e2e2c;

}

.reveal blockquote:after {
    font-family: Georgia, serif;
    content: '\201D';
    font-size: 4em;
    position: absolute;
    right: 0px;
    bottom: -70px;
    color: #2e2e2c;
}

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
}

ol {
    margin: 40px 0 0 130px !important;
}

small.mini {
    text-align: left;
    font-size: 12px;
    margin-top: 10px;
    width: 90%;
}

small.miniR {
    text-align: right;
    font-size: 12px;
    margin-top: 10px;
    width: 70%;
}

// very big ul/li for layout
ul.model {
    margin-top: 30px;

    li {
        margin-bottom: 30px;
        color: #494D4D;

        span {

            text-align:center;
            min-width: 220px;
            display:inline-block;

            padding: 5px !important;
            border-radius: 10px;
            background: #fff;
            box-shadow: #000000 0 2px 5px;
            box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;

            background-color: $headingColor;
            color: white;
            margin-right: 20px;

        }
        span a {
            color: white !important;
        }
    }

}


.reveal pre {
    box-shadow: none;
    margin-top: 30px;
    padding: 10px;
}

.reveal pre code {
    //background-color: rgb(248, 248, 255);
    background-color: white;
    color: #333;

    &.small {
        font-size: 14px;
        line-height: 16px;
        max-height: 500px;
    }

    &.mini {
        font-size: 14px;
        line-height: 16px;
        max-height: 800px;
        width: 100%;
    }

    // looks like a shell with blinking cursor
    &.lang-bash {

        background-color: #202020;
        border: 4px solid silver;
        border-radius: 5px !important;
        -moz-border-radius: 5px !important;
        -webkit-border-radius: 5px !important;
        box-shadow: 2px 2px 3px #6E6E6E;
        color: #e2e2e2;
        display: block;
        font: 1.2em 'andale mono', 'lucida console', monospace;
        line-height: 1.5em;
        overflow: auto;
        padding: 15px !important;
        margin-top: 20px;

        &::after {

            content: "_";
            font-weight: 100;
            font-size: 30px;
            color: #2E3D48;

            -webkit-animation: 1s blink step-end infinite;
            -moz-animation: 1s blink step-end infinite;
            -ms-animation: 1s blink step-end infinite;
            -o-animation: 1s blink step-end infinite;
            animation: 1s blink step-end infinite;
        }

        span.hljs-keyword {
            color: #e2e2e2 !important;
        }
    }

    &.cmd.small {
        font-size: 0.85em !important;
    }
}

// used by the blinking cursor
@keyframes "blink"         { from, to { color: transparent; } 50% { color: white; } }
@-moz-keyframes "blink"    { from, to { color: transparent; } 50% { color: white; } }
@-webkit-keyframes "blink" { from, to { color: transparent; } 50% { color: white; } }
@-ms-keyframes "blink"     { from, to { color: transparent; } 50% { color: white; } }
@-o-keyframes "blink"      { from, to { color: transparent; } 50% { color: white; } }


/* fix font aweseome */
.fa {
    display: inline-block !important;
    font-family: FontAwesome !important;
    font-style: normal !important;
    font-weight: normal !important;
    line-height: 1 !important;
    font-style: normal !important;

    color: $headingColor;
}

/* fix font aweseome */
.fa-2x {
  font-size: 2em !important;
}
.fa-3x {
  font-size: 3em !important;
}
.fa-4x {
  font-size: 4em !important;
}
.fa-5x {
  font-size: 5em !important;
}

/* fix ionicons */
.ion {
      color: $headingColor;
}

// hidden stuff in print mode
@media print {
    .hidePrint {
        display: none !important;
        height: 0; // really, really not display
    }
}

/* device preview (iPhone iframe) */

.device-preview {

    height: 810px;
    width: 435px;
    background: url("../../img/img_iphone-case.png") no-repeat center center;
    background-size: cover;

    margin-top: -75px  !important;
    margin-left: auto !important;
    margin-right: auto !important;

    max-width: none;
    max-height: none;

    .device-screen {

        margin: 0;
        height: 568px;
        width: 320px;
        margin-top: 119px;
        margin-left: 2px;
        overflow: hidden;

        background-color: white;
        /*
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        */

        max-width: none;
        max-height: none;
    }
}

/* END: device preview */
/* cross through things, see http://stackoverflow.com/a/21958440 */

.cross-through {
    position: relative;
    overflow: hidden; //hide overflow of pseudo elements
}

.cross-through:before,
.cross-through:after
{
    position: absolute;
    content: '';
    background: brown;
    display: block;
    width: 100%;
    height: 2px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    //center the X vertically and horizontally:
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    opacity: 0.5;
}

.cross-through:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* end: cross out */
