/**
 * A theme for reveal.js by johannes (baed on white.scss)
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

@mixin font-face($font-family, $font-url) {
    @font-face {
        font-family: $font-family;
        src: url($font-url + '.eot');
        src: url($font-url + '.eot?#iefix') format('embedded-opentype'),
             url($font-url + '.woff') format('woff'),
             url($font-url + '.ttf')  format('truetype'),
             url($font-url + '.svg#' + $font-family) format('svg');
        font-weight: normal;
        font-style: normal;
    }
}

// Include theme-specific fonts
//@import url(../../lib/font/source-sans-pro/source-sans-pro.css);

//@include font-face('OpenSansLight',           '../../lib/font/OpenSans/OpenSans-Light-webfont');
//@include font-face('OpenSansLightItalic',     '../../lib/font/OpenSans/OpenSans-LightItalic-webfont');
@include font-face('OpenSansRegular',           '../../lib/font/OpenSans/OpenSans-Regular-webfont');
@include font-face('OpenSansItalic',            '../../lib/font/OpenSans/OpenSans-Italic-webfont');
//@include font-face('OpenSansSemibold',        '../../lib/font/OpenSans/OpenSans-Semibold-webfont');
//@include font-face('OpenSansSemiboldItalic',  '../../lib/font/OpenSans/OpenSans-SemiboldItalic-webfont');
@include font-face('OpenSansBold',              '../../lib/font/OpenSans/OpenSans-Bold-webfont');
//@include font-face('OpenSansBoldItalic',      '../../lib/font/OpenSans/OpenSans-BoldItalic-webfont');
@include font-face('OpenSansExtrabold',       '../../lib/font/OpenSans/OpenSans-ExtraBold-webfont');
//@include font-face('OpenSansExtraboldItalic', '../../lib/font/OpenSans/OpenSans-ExtraBoldItalic-webfont');



// Override theme settings (see ../template/settings.scss)
$backgroundColor: white;

$mainColor: #2a2b2c;
$headingColor: darken( #B52E31, 5% ); // ##B52E31 angular svg logo red

$mainFontSize: 38px;
$mainFont: 'OpenSansRegular', sans-serif;
$headingFont: 'OpenSansBold', sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: #0273D4; // angular baby-blue
$linkColorHover: darken( $linkColor, 20% );
$selectionBackgroundColor: #26351C;

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
    &, h1, h2, h3, h4, h5, h6 {
        color: #fff;
    }
}

strong {
  color: $headingColor;
}



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

/* styles that will make the design cleaner */

body {
    font-family: 'OpenSansRegular', sans-serif;
}

em, em * {
    font-family: 'OpenSansItalic', sans-serif;
}

img
{
    border: none !important;

    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;

    background-color: transparent !important;
}

.reveal ul {
    list-style-type: none;
}

.reveal.overview {

    .slides section {
    	background: rgba(0,0,0,0.1);
    }

    .slides section:hover,
    .slides section.present {
    	background: rgba(0,0,0,0.3);
    }
}

@import "custom";
@import "background_states";
@import "handsOn";
