<div class="jumbotron" style="border: 1px solid #5b4439;">
    <h1 style="color:#5b4439"><img src="~/Content/logo-OData.svg" alt="" style="margin-top:-15px;"/> Demos</h1>
</div>

<div ng-view></div>
